#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

header{
    background-color: #396E94;
    display: grid;
    grid-template-columns: 150px auto;
    margin:20px;
}

nav a:hover{
    background-color: #436436;
    color: white;
}


footer{
    background-color: #396E94;
    color: white;
    padding: 25px 50px;
    margin-top: 20px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color:black;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
}

footer p{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}

footer p a:hover {
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}  

h2 {
    margin: 0;
}

#logo_link{
    padding-top:5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img {
    padding-top: 15px;
}


main section img{
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

#rivers_grid_1{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-row: repeat(3, 1fr);

}

.rivers_pic{
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
}

.rivers_title{
    font-size: 24px;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    padding:5px 20px 20px 150px;

}
.rivers_text{
    font-size: 18px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin:15px 20px;
    padding-bottom: 100px;
}

#rivers_grid_2{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-row: repeat(3, 1fr);

}

.rivers_pic_2{
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/3;
}

.rivers_title_2{
    font-size: 24px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin:15px 20px;
    padding:5px 20px 20px 125px;

}
.rivers_text_2{
    font-size: 18px;
    grid-column: 1/2;
    grid-row: 2/3;
    margin:15px 20px;
    padding-bottom: 75px;
}

#rivers_grid_3{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-row: repeat(3, 1fr);

}

.rivers_pic_3{
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
}

.rivers_title_3{
    font-size: 24px;
    grid-column: 2/3;
    grid-row: 1/2;
    padding:5px 20px 20px 250px;
}
.rivers_text_3{
    font-size: 18px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin:15px 20px;
    padding-bottom: 75px;
}


@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    footer {
        margin-top: 25px;
    }
}
  