#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: white;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
}

body{
    background-color: white;
}

header{
    background-color: #396E94;
}

nav a:hover{
    background-color: #436436;
    color: white;
}

.book, .join{
    background-color: #396E94;
    color: white;
}

.book:hover, .join:hover{
    background-color: #436436;
}

#background{
    background-color: #EFF1C5;
}

.msg{
    background-color: #EFF1C5;
}

footer{
    background-color: #396E94;
    color: white;
}

.home-title{
    color:black;
}

h4{
    color: black;
}

.msg h2{
    color: black;
}

.msg p{
    color: black;
}

footer a{
    color: white;
}

footer a:hover{
    color:black;
}